:root{
    --dblue:#00393a;
    --lblue:#ebffff;
    --grey:#fcfcfc;
    --dgreen: #1abd9b;
    --lgreen: #edfdf9;
}
body{
    background:#fcfcfc;
    user-select:none
  }
div.spacer{margin-top:30px;}
div.alert [x]{display:none;}
h2{
    margin-top:20px;
}
input{
    background-color:#e3e3e3!important;
}
input:focus{color:#e3e3e3;
    background:var(--lblue)!important;
}
.ar{
    direction: rtl!important;
    text-align: right;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 1.3em;
}
p.tulisan{
    font-size:.94 vw;
}
p.tulisan a:hover{
    background:var(--dblue); color: var(--lblue);
}
mark:first-child{
    margin-right:10px;
}
mark{
    background: var(--lblue);
    border-radius:6px;
}

summary{list-style: none;}
li.list-group-item{margin-bottom:10px;background: #00393a;color: #ebffff;}
li.list-group-item:hover{background:#e3e3e3;color:#00393a;}
li.list-group-item:hover mark{color:var(--lblue);background: var(--dgreen);}
div.carousel-inner{
    border-radius:17px;
}
footer{
    padding:auto;
    text-align:center;
}
p.copyright a{
    text-transform: capitalize;
    color: var(--dblue)!important;
}
footer i{margin-bottom:10px;}